[submodule "lib/rms-tools"]
	path = lib/rms-tools
	url = https://github.com/AMXAUNZ/rms-tools.git
[submodule "lib/rms-sdk"]
	path = lib/rms-sdk
	url = https://github.com/KimBurgess/rms-sdk.git
[submodule "lib/ncl"]
	path = lib/ncl
	url = https://github.com/KimBurgess/netlinx-common-libraries.git
